:root {
    --theme-color: #0078d7;
    --filter-line-height: 28px;
    --selector-height: 28px;
    --defalut-transition: 0.3s;
}
* {
    outline: none
}
#footer {
    display: none;
}
.dinglj-filter-component,
.dinglj-filter-mode {
    border-radius: 3px;
    display: inline-block;
    margin: 0 3px;
    padding: 0px 5px;
    cursor: pointer;
}
.active {
    background: var(--theme-color);
    color: white;
}
body {
    margin: 0
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#dinglj-filter {
    height: 200px;
    border-bottom: 1px solid #DDD;
    padding: 10px;
}
.dinglj-select-container { /* 选择器容器 */
    font-size: 14px;
    line-height: var(--selector-height);
    width: 200px;
    height: var(--selector-height);
    position: relative;
    border-radius: 5px;
    border: 1px solid #DDD;
}
.select-value { /* 选择器的值 */
    padding: 0 5px;
}
.select-items { /* 选择器的选项 */
    position: absolute;
    top: var(--selector-height);
    left: 0px;
    transition: 0.3s;
    overflow: hidden;
    height: 0px;
    width: 200px;
    background: white;
    border: 1px solid #DDD;
}
.select-item { /* 选择器的选项 */
    transition: 0.3s;
    line-height: 24px;
    width: 200px;
    cursor: pointer;
    padding: 0 5px;
}
.select-item:hover {
    color: var(--theme-color);
    background: #EEE;
}
.dinglj-select-container:hover .select-items {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.filter-line {
    line-height: var(--filter-line-height);
    margin: 7px 0;
}
.filter-name,
.filter-value {
    display: inline-block;
}
.filter-name {
    width: 80px;
}
.filter-value {
    width: 200px;
}
