* {
    outline: none
}
#footer {
    display: none;
}
body {
    margin: 0
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
#dinglj-filter {
    height: 200px;
    background: #DDD;
    padding: 10px;
}
.dinglj-select-container { /* 选择器容器 */
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    height: 20px;
    position: relative;
}
.select-value { /* 选择器的值 */
    
}
.select-items { /* 选择器的选项 */
    position: absolute;
    top: 20px;
    left: 0px;
    transition: 0.3s;
    height: 0px;
    overflow: hidden;
    width: 200px;
}
.select-item { /* 选择器的选项 */
    transition: 0.3s;
    line-height: 24px;
    width: 200px;
    cursor: pointer;
}
.select-item:hover {
    color: #0078d7;
}
.dinglj-select-container:hover .select-items {
    height: 200px;
    overflow: scroll;
}
.filter-name,
.filter-value {
    display: inline-block;
}
.filter-name: {
    width: 80px;
}
.filter-value {
    width: 200px;
}
