#dinglj-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#iv-toolbar {
    --height: 50px;
    --line-height: 28px;
    height: var(--line-height);
    padding: calc((var(--height) - var(--line-height)) / 2);
    background: var(--title-color);
    display: flex;
    font-size: 12px;
}

#iv-under-toolbar {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding: 10px 0;
}

#line-container,
#step-container,
#history-container {
    width: 100px;
    overflow-y: scroll;
}

#history-container {
    width: 200px;
}

#line-container > div,
#step-container > div,
#history-container > div {
    transition: var(--transition);
}


.right-panel {
    width: 200px;
    overflow: hidden;
}

.line-number,
.step-number,
.history-number {
    line-height: 26px;
    height: 26px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-number.active,
.step-number.active,
.history-number.active {
    background: var(--theme-color);
    color: white;
}

.line-number.last,
.step-number.last,
.history-number.last {
    background: rgb(211, 211, 211);
}

.line-number:hover:not(.active,.last),
.step-number:hover:not(.active,.last),
.history-number:hover:not(.active,.last) {
    background: rgb(235,235,235);
}

div.arrow:not(.active) > .active {
    background: rgb(145, 161, 255);
}

img {
    max-height: 95%;
    min-width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 10px -3px grey;
    overflow: hidden;
}

#iv-toolbar .dinglj-v-input {
    margin-left: 10px;
}

#iv-options * {
    display: inline-block;
    color: white;
    line-height: 28px;
    margin-right: 10px;
    cursor: pointer;
}

.dinglj-v-row-scroll {
    transition: 0s;
}