/*************************** 复制弹窗 start ***************************/

#dinglj-copy-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px -2px grey;
    font-size: 12px;
    text-indent: 10px;
    position: fixed;
    right: 20px;
    word-wrap: word-break;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    top: 20px;
    font-weight: bold
}

#dinglj-copy-success {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

#dinglj-copy-content {
    text-indent: 0px;
    display: inline-block;
    word-break: break-word;
    padding-right: 20px;
}

#dinglj-copy-nav {
    width: 5px;
    height: calc(100% - 10px);
    background: #4DAFF9;
    position: absolute;
    top: 5px;
    left: 5px;
}

/*************************** 复制弹窗 end ***************************/

/*************************** 选择控件 start ***************************/

.dinglj-select-container { /* 选择器容器 */
    font-size: 14px;
    line-height: var(--selector-height);
    width: 200px;
    height: var(--selector-height);
    position: relative;
    border-radius: 5px;
    border: 1px solid #DDD;
    display: inline-block;
    margin: 0 3px;
}

.select-value { /* 选择器的值 */
    padding: 0 5px;
}

.select-items { /* 选择器的选项 */
    position: absolute;
    top: var(--selector-height);
    left: 0px;
    transition: 0.3s;
    overflow: hidden;
    height: 0px;
    width: 200px;
    background: white;
    border: 1px solid #DDD;
    display: none;
    z-index: 99;
}

.select-item { /* 选择器的选项 */
    transition: 0.3s;
    line-height: 24px;
    width: 200px;
    cursor: pointer;
    padding: 0 5px;
    background: white;
}

.select-item:hover {
    color: var(--theme-color);
    background: #EEE;
}

.dinglj-select-container:hover .select-items {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

/*************************** 选择控件 end ***************************/